@import "tailwindcss";

:root {
  --marquee-container-width: 250px;
}
/* Vignette overlays */

.marquee {
  overflow-x: hidden;
  display: inline-block;
  animation: pingpong 25s ease-in-out infinite 3s;
  will-change: transform;
  background-color: #071e938e;
  padding: auto;
}

@keyframes pingpong {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(calc(-100% + var(--marquee-container-width))); /* 250px is container width */
  }
  100% {
    transform: translateX(0%);
  }

}


/* artist artical */
.artist-article::after{
  content: icon;
  
}